#article { background-color: red; }
#categories { background-color: blue; }

#conteneur {
	background-color: silver;
	position: relative;
	height: 550px;
}

#menu {
	background-color: green;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}

#contenu {
	background-color: pink;
	position: absolute;
	top: 120px;
	left: 0px;
}

#auteur {
	background-color: yellow;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
}
