hr { clear: both; }

hr,
#menu h2,
#auteur h2 {
	display: none;
}

#menu ul li
{
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
}
#menu ul li a { text-decoration: none; font-weight: bold; }

#categories ul li
{
	list-style-type: square;
	list-style-position: inside;
}

#article {
	float: left;
	width: 80%;
}

#categories {
	float: right;
	width: 20%;
}

#conteneur {
	position: relative;
	height: 550px;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}

#contenu {
	position: absolute;
	top: 120px;
	left: 0px;
}

#auteur {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
}
